/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html *, body * {
     margin: 0;
     padding: 0;
}

/* body * {
     border: 1px solid red;
} */

body {
     background-color: black;
     color: white;
}

.hawkins {
     background-image: url('../images/hawkins.JPG');
     background-size: cover;
     background-position: bottom;
}

.upside-down {
     background-image: url('../images/upside-down.png');
     background-size: cover;
     background-position: top;
}

ul {
     list-style: none;
}

/* .break {
     flex-basis: 100%;
     height: 0;
   } */

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

.wrapper {
     display: flex;
     justify-content: center;
     flex-direction: row;
     min-height: 90vh;
}

.play {
     width: 30%;
}

.place {
     width: 70%;
}

.hawkins, .upside-down {
     height: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
